{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Home
{% endblock%}

{% block content %}
{% if user.is_authenticated %}
    <div class="profile-wrap">
        <!-- Account info containing: username, bio, links to external web, edit -->
        <div class="account-info">
            <div class="profile-picture-container">
                <!-- Profile Picture -->
                <div class="profile-picture">
                    <img 
                        src="{{ user.profile.image.url }}"
                        alt="Profile Picture" 
                        class="profile-pic"
                    >
                </div>
            </div>
            <div class="profile-details">
                <!-- Username -->
                <div class="user-and-followers">
                    <h1>
                        {{ user.username }}
                    </h1>
                    <h1>
                        <button onclick="openModal('followersModal')">
                            Followers: {{ profile.followers.count }}
                        </button>
                    </h1>
                    <h1>
                        <button onclick="openModal('followingModal')">
                            Following: {{ profile.following.count }}
                        </button>
                    </h1>
                </div>
                <!-- Bio -->
                <div class="bio-container">
                    {% if profile.bio %}
                        <div class="bio-text-format">
                            {{ profile.bio }}
                        </div>
                    {% else %}
                        <p>This user hasn't written a bio yet.</p>
                    {% endif %}
                </div>
                <!-- Links -->
                <div>
                    {% if profile.links %}
                        <p><strong>User Links:</strong> {{ profile.links|linebreaks }}</p>
                    {% else %}
                        <p>No links yet!</p>
                    {% endif %}
                </div>
            </div>
            <div class="edit-profile">
                <img src="{% static 'icons/pencil.png' %}"
                    alt="Edit Profile" 
                    class="edit-icon" 
                    onclick="openPopup()"
                    style="cursor: pointer;"
                defer>
                <!-- Popup Menu -->
                <div id="popup" class="popup">
                    <div class="popup-content">
                        <span class="close" onclick="closePopup()">&times;</span>
                        <h2>Change Profile Picture</h2>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navigation for posts, notes, saved -->
        <div class="account-menu">
            <a class="account-menu-items-highlight" href="{% url 'users:profile' %}">
				<span role="img" aria-label="Profile Posts Page" title="Profile Posts Page">
					<p>POSTS</p>
				</span>
			</a>
            <a class="account-menu-items" href="{% url 'users:notes' %}">
				<span role="img" aria-label="Profile Notes Page" title="Profile Notes Page">
					<p>PROJECTS</p>
				</span>
			</a> 
            <div class="account-menu-items"><p>SAVED</p></div>
        </div>
        <!-- Posts for the users -->
        <div class="user-posts">
            {% if posts %}
                {% for post in posts %}
                <!-- Make each post clickable on hover -->
                <a href="{% url 'posts:page' slug=post.slug %}" class="post-link">
                    <article class="post">
                        <img 
                            class="banner"
                            src="{{ post.banner.url }}"
                            alt="{{ post.title }}"
                        />
                    </article>
                </a>
            {% endfor %}
            {% else %}
                <div class="no-posts-found">
                    <p>NO POSTS FOUND</p>
                </div>
        {% endif %}
        </div>
    </div>
{% else %}
    <p>You are not logged in.</p>
{% endif %}

<!-- Followers Modal -->
<div id="followersModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('followersModal')">&times;</span>
        <div class="modal-inner-content">
            <h2>Followers</h2>
            <ul>
                {% for follower in followers %}
                    <li>
                        <img 
                            src="{{ follower.user.image.url }}"
                            alt="Profile Picture" 
                            class="profile-pic-follow"
                        >
                        <h1>
                            {{ follower.user.username }}
                        </h1>
                        {% include "users/rmv_follower_button.html" with follower=follower is_followed=True %}
                    </li>
                {% empty %}
                    <li>No followers yet.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Following Modal -->
<div id="followingModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('followingModal')">&times;</span>
                <div class="modal-inner-content">
            <h2>Following</h2>
            <ul>
                {% for target in profile.following.all %}
                    <li>
                        <img 
                            src="{{ target.user.profile.image.url | default_if_none:'/static/images/user.png' }}"
                            alt="Profile Picture" 
                            class="profile-pic-follow"
                        >
                        <h1>
                            {{ target.user.username }}
                        </h1>
                            {% include "users/follow_button.html" with target_user=target is_following=True %}
                    </li>
                {% empty %}
                    <li>Not following anyone yet.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}