<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			{% block title %} 
				Django App 
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<script src="{% static 'js/main.js' %}" defer></script>
	</head>
	<body>
		<nav>
			<div class="heading-container">
				<a href="/">
					<span class="home-heading" role="heading" aria-label="Home" title="Home">
						Crumble
					</span>
				</a>
			</div>
			<a class="a-element" href="/">
				<span role="img" aria-label="Home" title="Home">
					<img src="{% static 'icons/home.png' %}" defer>
					<p>Home</p>
				</span>
			</a> 
			{% if user.is_authenticated %}
				<a class="a-element-a" href="{% url 'users:profile' %}">
					<span role="img" aria-label="Profile" title="Profile">
						<img src="{{ user.profile.image.url }}" defer>
						<p>Profile</p>
					</span>
				</a>
			{% endif %}
				<a class="a-element" href="{% url 'posts:list' %}">
					<span role="img" aria-label="Posts" title="Posts">
						<img src="{% static 'icons/play.png' %}" defer> 
						<p>Posts</p>
					</span>
				</a>
			{% if user.is_authenticated %}
				<a class="a-element" href="{% url 'posts:new-post' %}">
					<span role="img" aria-label="Upload Post" title="Upload Post">
						<img src="{% static 'icons/picture.png' %}" defer>
						<p>Post</p>
					</span>
				</a>
				<a class="a-element" href="{% url 'notes:new-note' %}">
					<span role="img" aria-label="Upload Note" title="Upload Note">
						<img src="{% static 'icons/book-alt.png' %}" defer>
						<p>Note</p>
					</span>
				</a>
				</div>
				<form class="a-element" action="{% url 'users:logout' %}" method="post">
					{% csrf_token %}
					<button class="logout" aria-label="User Logout" title="User Logout">
						<img src="{% static 'icons/sign-out-alt.png' %}"defer>
						<p>Logout</p>
					</button>
				</form>
			{% else %}
				<a class="a-element" href="{% url 'users:register' %}">
					<span role="img" aria-label="Register" title="Register">
						<img src="{% static 'icons/user.png' %}" defer>
						<p>Register</p>
					</span>
				</a>
				<a class="a-element" href="{% url 'users:login' %}">
					<span role="img" aria-label="Login" title="Login">
						<img src="{% static 'icons/lock.png' %}" defer>
						<p>Login</p>
					</span>
				</a> 
			{% endif %}
		</nav>
		<main>
			{% block content %} 
			{% endblock %}
		</main>
	</body>
</html>