{% extends 'layout.html' %} 

{% block title %} 
    Posts
{% endblock %} 

{% block content %}
        <div class="post-items">
            {% for post in posts %}
            <a href="{% url 'posts:page' slug=post.slug %}" class="post-main-link">
                <article class="post-main">
                    <img 
                        class="banner"
                        src="{{ post.banner.url }}"
                        alt="{{ post.title }}"
                    />
                </article>
            </a>
            {% endfor %}
        </div>
{% endblock %} 